@model List<Domain.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- Breadcrumbs-->
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Admin/Dashboard">painel de controle</a>
        </li>
        <li class="breadcrumb-item active">Produtos</li>

    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Lista dos produtos
            <a href="../Admin/CreateProduct" class="btn btn-info pull-right fa fa-plus"> Adicionar Novo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Indice</th>
                            <th>Nome do produto</th>
                            <th>Ação</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Indice</th>
                            <th>Nome do produto</th>
                            <th>Ação</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf (item)+1)</td>
                                <td>@item.Name</td>
                                <td>
                                    @Html.ActionLink("Editar", "UpdateProduct", new { Id = item.ProductId }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>