@model List<Domain.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
    <meta charset="UTF-8">
    <title>CodePen - Product Set</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,600,700|Open+Sans:300,300i,400,600,700'>
    <link rel="stylesheet" href="~/Content/request-set/dist/style.css">
      

    <!-- partial:index.partial.html -->
    <!-- Product Set -->
    <div class="ProductSet ProductSet--grid">

        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <!-- Product Card: vertical -->
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>


    </div>

    <div class="ProductSet ProductSet--list">
        <!-- Product Card: horizontal -->
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>
        <a href="#" class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                <img src="https://www.etq-amsterdam.com/wp-content/uploads/2018/02/ETQ-Amsterdam-Low-2-Alloy-Ribbed-1-Side-1-2000x2000-c-bottom.jpg" alt="Shoe" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">Chealsea Boot</h4>
                        <h5 class="ProductCard__price">$72.99</h5>
                    </div>

                    <button class="IconBtn">
                        <svg class="Icon Icon--medium Icon--colored">
                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>
                        </svg>
                    </button>
                </div>

                <p class="ProductCard__description">
                    The Low 2 in Alloy grey is constructed with a premium nubuck leather upper and a leather coated Sanipur insole.
                </p>
            </div>
        </a>


    </div>
    <!-- END: Product Set -->
    <!-- partial -->

 